html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflow if image exceeds viewport */
}

#banner {
    display: block;
    width: auto;
    transition: opacity 1s ease;
}

.image-container {
    position: relative;
    margin: 2px 25% 0 25%;
}

.focused-image {
    width: 100%;
    max-width: none;
}

.frame {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 80%;
    top: 8%;
    left: 8%;
    opacity: 50%;
    border: 2px solid white;
    border-radius: 20%;
    animation-duration: 15s;
    animation-name: pulsate;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

#animation-slider {
    display: block;
    width: auto;
    transition: opacity 1s ease;
}

#slider-label {
    font-size: 14px;
    margin-top: 5px;
    transition: opacity 1s ease;
}

@keyframes pulsate {
    0% {
        width: 30%;
        height: 30%;
        top: 35%;
        left: 32%;
        border-radius: 20%;
    }
    16.67% {
        width: 50%;
        height: 50%;
        top: 22%;
        left: 21%;
        border-radius: 35%;
    }
    33.33% {
        width: 80%;
        height: 80%;
        top: 8%;
        left: 8%;
        border-radius: 50%;
    }
    50% {
        width: 80%;
        height: 80%;
        top: 8%;
        left: 8%;
        border-radius: 50%;
    }
    66.67% {
        width: 50%;
        height: 50%;
        top: 22%;
        left: 21%;
        border-radius: 35%;
    }
    83.33% {
        width: 30%;
        height: 30%;
        top: 35%;
        left: 32%;
        border-radius: 20%;
    }
    100% {
        width: 30%;
        height: 30%;
        top: 35%;
        left: 32%;
        border-radius: 20%;
    }
}
  